services:
  - type: web
    name: whiteboard-server
    env: node
    plan: free
    branch: main
    rootDir: apps/server
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: PORT
        value: 4000
      - key: NODE_ENV
        value: production
    autoDeploy: true
